<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <style>
        #divResult{
            color : red;
            font-weight: bold;
            font-size: 24pt;
        }
    </style>
    <script src="angular.js"></script>
    <script>
        var calculator = {
            add : function(x,y){
                return x + y;
            },
            subtract : function(x,y){
                return x - y;
            },
            multiply : function(x,y){
                return x * y;
            },
            divide : function(x,y){
                return x / y;
            }
        }
        var myApp = angular.module("myApp", []);
        myApp.controller("calculatorController", function($scope){
            $scope.number1 = '';
            $scope.number2 = '';
            $scope.result = '';
            $scope.operation = '';
            $scope.calculate = function(){
                var n1 = parseInt($scope.number1, 10),
                    n2 = parseInt($scope.number2, 10);
                $scope.result = calculator[$scope.operation](n1, n2);
            }
        });
    </script>
</head>
<body ng-app="myApp">
    <h1>Calculator</h1>
    <hr>
    <section class="content" ng-controller="calculatorController">
        <input type="text" name="" id="" ng-model="number1">
        <select name="" id="" ng-model="operation">
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
        </select>
        <input type="text" name="" id="" ng-model="number2">
        <input type="button" value="Calculate" ng-click="calculate()">
        <div id="divResult" ng-bind="result">[Result]</div>
    </section>
</body>
</html>
